//functions

@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

//dark values

$black: #F6F6F6;
$white: #242424;
$neutral:#afafaf;
$neutral-dark:#a0a0a0;
$neutral-darker:#d0d0d0;
$neutral-darkest:#ffffff;
$neutral-light:#808080;
$neutral-lighter:#404040;
$neutral-lightest:#151515;

$theme-green: #009844;
$theme-blue: #007FFF;
$theme-pink: #E329E3;
$theme-red: #F82323;
$theme-yellow: #FAAF33;

$overlay-dark-24: rgba(255,255,255,0.24);
$overlay-light-24: rgba(0,0,0,0.24);

$outline: rgba(255,255,255,0.1);
$outline-dark: rgba(255,255,255,0.16);

.outer {
  max-width:960px;
  margin: 0px auto;
}

.transition30 {
  transition:0.3s all ease;
  -webkit-transition:0.3s all ease;
}

.transition20 {
  transition:0.2s all ease;
  -webkit-transition:0.2s all ease;
}

.transition10 {
  transition:0.1s all ease;
  -webkit-transition:0.1s all ease;
}

.icon {
  width:16px;
  height:16px;
  filter:invert(1);
}


.logo {
  user-select: none;
  img {
    filter: invert(100%);
    -webkit-filter:invert(100%);
  }
}

.inset-shadow {
  @extend .transition30;
  box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.6);

  &:hover {
    box-shadow: inset 0px 0.5px 4px 0px rgba(0,0,0,0.8);
    cursor: pointer;
  }
}

@mixin shadow-medium {
  box-shadow: rgba(12,12,12,0.2) 0px 2px 2px, rgba(20,20,20,0.2) 0px 4px 4px, rgba(12,12,12,0.2) 0px 8px 8px, rgba(12,12,12,0.2) 0px 16px 16px, rgba(12,12,12,0.2) 0px 32px 32px;
}

%shadow-medium {
  @include shadow-medium;
}

.shadow-medium {
  @extend %shadow-medium;
}

@mixin shadow-small {
  box-shadow: 0 2px 20px 0 rgba(0,0,0,0.2);
}

%shadow-small {
  @include shadow-small;
}

.shadow-small {
  @extend %shadow-small;
}

.hover-shadow-small { 
  &:hover {
    @extend .shadow-small;
    cursor: pointer;
    transform: translate(0px,-2px);
  }
}

.hover-shadow-medium { 
  &:hover {
    @extend .shadow-medium;
    cursor: pointer;
    transform: translate(0px,-3px);
  }
}


.inset-shadow {
  @extend .transition30;
  box-shadow: inset 0px 0px 1px 0px rgba(0,0,0,0.58);

  &:hover {
    box-shadow: inset 0px 0.5px 4px 0px rgba(0,0,0,0.58);
    cursor: pointer;
  }
}

.inverse {
  filter: invert(1);
}

@import './index.scss'