//font imports

@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=Roboto:900');

a {
  text-decoration: none;
}

:root {
  --black: #000000;
  --white: #ffffff;
  --neutral: #717171;
  --neutral-dark: #252323;
  --neutral-darker: #202020;
  --neutral-darkest: #101010;
  --neutral-light: #9a9a9a;
  --neutral-lighter: #dadada;
  --neutral-lightest: #eaeaea;

  --theme-green: #009844;
  --theme-blue: #007FFF;
  --theme-pink: #E329E3;
  --theme-red: #F82323;
  --theme-yellow: #FAAF33;

  --overlay-dark-24: rgba(0, 0, 0, 0.24);
  --overlay-light-24: rgba(255, 255, 255, 0.24);

  --shadow: rgba(45, 45, 45, 0.05) 0px 2px 2px, rgba(49, 49, 49, 0.05) 0px 4px 4px, rgba(42, 42, 42, 0.05) 0px 8px 8px, rgba(32, 32, 32, 0.05) 0px 16px 16px, rgba(49, 49, 49, 0.08) 0px 0px 32px;
}

.dark-mode {
    --black: #F6F6F6;
    --white: #242424;
    --neutral: #afafaf;
    --neutral-dark: #a0a0a0;
    --neutral-darker: $#d0d0d0;
    --neutral-darkest: #ffffff;
    --neutral-light: #808080;
    --neutral-lighter: #404040;
    --neutral-lightest: #151515;
  
    --overlay-dark-24: rgba(255, 255, 255, 0.24);
    --overlay-light-24: rgba(0, 0, 0, 0.24);
  
    --shadow: rgba(12, 12, 12, 0.2) 0px 2px 2px, rgba(20, 20, 20, 0.2) 0px 4px 4px, rgba(12, 12, 12, 0.2) 0px 8px 8px, rgba(12, 12, 12, 0.2) 0px 16px 16px, rgba(12, 12, 12, 0.2) 0px 32px 32px;
  
  .inverse {
    filter: invert(1);
  }
}

h1,
h2,
h3,
h4 {
  width: auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  color: var(--neutral-dark);
  margin-top: 0px;
}

h1 {
  font-size: 32px;
  line-height: 38px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 14px;
  width: auto;
  font-family: 'Comfortaa', cursive;
  font-weight: 600;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--neutral);
}

h5 {
  width: auto;
  font-family: 'Comfortaa', cursive;
  font-weight: 600;
  font-size: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--neutral);
  margin-top: 7px;
  margin-bottom: 0px;
}

.author {
  color: var(--neutral-dark);
}

.tag {
  color: var(--neutral-light);
  font-weight: 400;
}

.tag-article {
  color: var(--theme-blue);
}

.tag-review {
  color: var(--theme-green);
}

.tag-inspiration {
  color: var(--theme-pink);
}

.tag-portfolio {
  color: var(--theme-yellow);
}

.tag-store {
  color: var(--theme-red);
}

.icon {
  width: 16px;
  height: 16px;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: var(--neutral-lightest);
}

body {
  margin: 0;
  width: 100vw;
}

body * {
  width: auto;
  overflow: hidden;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
tags,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: '';
}

button, button:focus, button:active {
  background:transparent;
  padding:0px;
  border:0px;
  outline:none;
}

a {
  background: transparent;
  color:var(--theme-blue);
  padding:0px;
  margin:0px;
  width:auto;
}

.contain-all {
  height: auto;
  min-height:100vh;
  overflow: hidden;
  position: relative;
  display: block;
  margin: 0 auto;
  background-color: var(--neutral-lightest);
  padding:0px;
  .max-width {
    max-width: 960px;
    margin: 0 auto;
    padding: 40px;
  }
}

.page-navigation {
  float: left;
  width: 100%;

  .next-page,
  .previous-page {
    float: left;
    width: calc(50% - 32px);
    border-radius: 8px;
  }

  .next-page a,
  .previous-page a {
    transition: 0.3s all ease;
    background-color: transparent;
    color: var(--neutral-dark);
    text-transform: uppercase;
    padding: 16px 16px 14px 16px;
    margin: 16px;
    float: left;
    text-align: center;

    &:hover {
      background-color: var(--neutral-lighter);
      transform: translate(0px, 1px);

      h4 {
        color: var(--neutral-dark);
      }
    }
  }

  a,
  span {
    width: calc(100% - 32px);
    font-size: 14px;

    h4 {
      width: 100%;
      font-family: 'Comfortaa', cursive;
      font-weight: 600;
      letter-spacing: 2px;
      margin: 0px;
    }
  }
}

@media only screen and (max-width: 800px) {
  .contain-all {
    .max-width {
      padding:8px;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}