//font imports

@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=Roboto:900');

a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  width: auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  color: var(--neutral-dark);
  margin-top: 0px;
}

h1 {
  font-size: 32px;
  line-height: 38px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 14px;
  width: auto;
  font-family: 'Comfortaa', cursive;
  font-weight: 600;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--neutral);
}

h5 {
  width: auto;
  font-family: 'Comfortaa', cursive;
  font-weight: 600;
  font-size: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--neutral);
  margin-top: 7px;
  margin-bottom: 0px;
}

.author {
  color: var(--neutral-dark);
}

.tag {
  color: var(--neutral-light);
  font-weight: 400;
}

.tag-article {
  color: var(--theme-blue);
}

.tag-reviews {
  color: var(--theme-green);
}

.tag-inspiration {
  color: var(--theme-pink);
}

.tag-portfolio {
  color: var(--theme-yellow);
}

.tag-store {
  color: var(--theme-red);
}

.icon {
  width:16px;
  height:16px;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: var(--neutral-lightest);
}
body {
  margin: 0;
  width: 100vw;
}

body * {
  width: auto;
  overflow: hidden;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
tags,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}

pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: '';
}

button,
a {
  background-color: transparent;
  padding: 0px;
  border: none;

  &:focus {
    outline: none;
  }
}

.contain-all {
  max-width: 960px;
  height: auto;
  overflow: hidden;
  position: relative;
  display: block;
  padding: 40px;
  margin: 0 auto;
}

.page-navigation {
  float: left;
  width: 100%;

  .next-page,
  .previous-page {
    float: left;
    width: calc(50% - 32px);
    border-radius: 8px;
  }

  .next-page a,
  .previous-page a {
    transition:0.3s all ease;
    background-color: transparent;
    color: var(--neutral-dark);
    text-transform: uppercase;
    padding: 16px 16px 14px 16px;
    margin: 16px;
    float: left;
    text-align: center;
    &:hover {
      background-color: var(--neutral-lighter);
      transform: translate(0px, 1px);

      h4 {
        color: var(--neutral-dark);
      }
    }
  }

  a,
  span {
    width: calc(100% - 32px);
    font-size: 14px;

    h4 {
      width: 100%;
      font-family: 'Comfortaa', cursive;
      font-weight: 600;
      letter-spacing: 2px;
      margin: 0px;
    }
  }
}

@media only screen and (max-width: 680px) {
  .contain-all {
    padding: 8px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
