//fonts 

@import url('https://fonts.googleapis.com/css?family=Comfortaa');

//colors - neutral

:root {
  --black: #000000;
  --white: #ffffff;
  --neutral: #717171;
  --neutral-dark: #252323;
  --neutral-darker: $#202020;
  --neutral-darkest: #101010;
  --neutral-light: #9a9a9a;
  --neutral-lighter: #dadada;
  --neutral-lightest: #eaeaea;

  --theme-green: #009844;
  --theme-blue: #007FFF;
  --theme-pink: #E329E3;
  --theme-red: #F82323;
  --theme-yellow: #FAAF33;

  --overlay-dark-24: rgba(0, 0, 0, 0.24);
  --overlay-light-24: rgba(255, 255, 255, 0.24);

  --shadow: rgba(45, 45, 45, 0.05) 0px 2px 2px, rgba(49, 49, 49, 0.05) 0px 4px 4px, rgba(42, 42, 42, 0.05) 0px 8px 8px, rgba(32, 32, 32, 0.05) 0px 16px 16px, rgba(49, 49, 49, 0.08) 0px 0px 32px;
}

@import './index.scss'